@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*{
    font-size: 16px;
    font-family: 'Josefin Sans',sans-serif;
}

section{
    display: flex;
   width: 100%;
    justify-content: center;
    margin-top: 50px;

}

.text span{
    color: #ce9797;
    font-size: 5rem;
    font-weight: 300;
    
}

.text h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 5rem;
    
}

.text p{
    color:#ce9797 ;
    line-height: 2rem;
}
input{
    border: 1px solid rgba(58, 62, 65, 0.5);
    background: transparent;
    padding: 20px 75px;
    border-radius:30px;
    outline:none;
    width: 40%;
    
}
::placeholder{
opacity: 0.5;

}
.submit{
    
    z-index:10;
    margin-top: 30px;

}

#error{
    position: relative;
    right: 5.5rem;
    display: none;
    top:5px;
}
#message-error{
    color: #f96262;
    margin-top: 0.8em;
    margin-left: 1.8em;
    display: none;
}
#arrow-submit{
    background:linear-gradient(135deg, #f8bfbf 0%, #ee8c8c);
    padding: 19px 40px;
    border-radius: 30px;
    border: none;
    margin-left: -5rem;
    line-height: 20px;
    cursor: pointer;
    position: absolute;

}
.mobile{
    display: none;
}
#mobile_img{
    display: none;
}
.text{
   
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/bg-pattern-desktop.svg), linear-gradient(135deg, white, #fff5f5), linear-gradient(135deg, #f8bfbf 0%, #ee8c8c);

}

footer{
    justify-content: center;
    display: flex;
}

@media(max-width:830px){
    #desk{
        display: none;
    }
    #logon{
        display: none;
    }
    #mobile_img{
        display: block;
    }
    .mobile{
        display: block;
        padding: 20px;
        background-image: url(../assets/bg-pattern-desktop.svg), linear-gradient(135deg, white, #fff5f5), linear-gradient(135deg, #f8bfbf 0%, #ee8c8c);
    }
    section{
        flex-wrap: wrap-reverse;
    }

    .text{
        width: 40%;
    }
 
}

@media(max-width:570px){
    .text {
        width: 50%;
    } 
}